footer {
    .footer-wrapper {
        position: relative;

        h3 {
            margin: 0;
            padding-top: 50px;
            color: $darkblue;
            font-size: 25px;
            position: absolute;
            left: 100px;
            top: 0;
        }
    }  
}