.live-stream-wrapper {
    padding-top: 50px;

    .video-wrapper {
        flex-basis: 70%;
    }

    .question-wrapper {
        flex-basis: 25%;

        iframe {
            border: none;
        }

        p {
            margin: 0;

        }
    }

    .queries {
        margin-top: 40px;
        text-align: center;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .live-stream-wrapper {
        .video-wrapper {
            flex-basis: 100%;
        }

        .question-wrapper {
            flex-basis: 100%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
    .live-stream-wrapper {
        .video-wrapper {
            flex-basis: 100%;
        }

        .question-wrapper {
            flex-basis: 100%;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {
   
}