header {
    top: 0px;
    z-index: 1000;
    width: 100%;
    transition: top 0.2s ease-in-out;

    .nav-logo {
        margin-top: 8px;
        height: 60px;
    }
}

.nav ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style-type: none;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

    li {
        padding: 7px 10px;
        cursor: pointer;
        margin-top: 15px;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $grey;

        &:hover {
          transition: 0.4s;
          color: $darkblue;
      }
    }
}

/* Style the menu link */
.js .nav .skip {
  color: #fff;
  position: absolute;
  right: 1px;
  top: 30px;
  overflow: hidden;
  width: 50px;
      &:hover {
          transition: .4s;
      }

      img {
        height: 20px;
      }
  } 


/* Hide and position the closed .nav ul */
.js .nav ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 50px;
  transition: max-height 1s ease-out;
}

/* Style the list items to appear under the menu link */
.js nav li {
  padding: 10px 7px;
  margin: 0;
}

/* Style the list item links for ease of touch on small screens */
.js nav li a {
  padding: 5px 10px;
  display: block;
  text-align: center;
}

.js nav li span {
  display: block;
}

/* Give the .nav ul a height when it's been opened, i.e. make it show */
.js .nav ul.open {
max-height: 70em;
}

/* On screens larger than 1200px, remove the menu link and display all menu items */
@media screen and (min-width: 1200px) {
  .js .nav ul {
    width: 100%;
    overflow: auto;
    max-height: inherit; 
    position: static;
    display: flex;
    justify-content: flex-start;
  }
  .js .nav li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }
  .js .nav li:last-child {
    border: 0;
  }
  .js .nav .skip {
    display: none;
    visibility: hidden;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 20px;
  }

  .js nav li {
      text-align: right;
      margin-top: 0;
      background-color: $white;
  }

  .js nav li a {
      padding: 10px 10px;
      display: block;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {

  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 20px;
  }

  .js nav li {
      text-align: right;
      margin-top: 0;
      background-color: $white;
  }

  .js nav li a {
      padding: 10px 10px;
      display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {

  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 20px;
  }

  .js nav li {
      text-align: right;
      margin-top: 0;
      background-color: $white;
  }

  .js nav li a {
      padding: 10px 10px;
      display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {

  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 20px;
  }

  .js nav li {
      text-align: right;
      margin-top: 0;
      background-color: $white;
  }

  .js nav li a {
      padding: 10px 10px;
      display: block;
  }
}











